{% load crispy_forms_tags %}
<div
        class="modal fade"
        id="loginModal"
        tabindex="-1"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Se connecter
                </h5>

                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                ></button>
            </div>

            <div class="modal-body">
                <form
                        method="post"
                        action="{% url 'users:login' %}">
                    {% csrf_token %}
                    {% crispy login_form %}

                    <button
                            type="submit"
                            class="btn btn-primary">
                        Se connecter
                    </button>
                </form>

                <a href="{% url 'users:password_reset' %}">
                    Mot de passe oublié ?
                </a>

            </div>

        </div>
    </div>
</div>