{% load static%}
<header class="site-header">
    <!-- Titre et Icônes -->
    <h1 class="site-title">
        <img src="{% static 'images/apple.png' %}" width="40">
        <a href="{% url 'forum:index' %}" style="color: white; text-decoration: none;">{{site_body.title}}</a>
        <img src="{% static 'images/apple.png' %}" width="40">
    </h1>

    <!-- Navigation Principale (Sections) -->
    <nav>
        <ul class="nav-pills">
            {% for section in sections %}
            <li class="section-button">
                <a href="{% url 'forum:section_detail' slug=section.slug %}">
                    <h4>{{ section.name }}</h4>
                </a>
                {% if section.section_set.exists %}
                <ul>
                    {% for child in section.section_set.all %}
                    <li>
                        <a href="{% url 'forum:section_detail' slug=child.slug %}">
                            {{ child.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Navigation Auth (droite) -->
    <div class="auth-nav">
        {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}" class="btn-green">{{ user.username }}</a>
        <a href="{% url 'users:logout' %}" class="btn-green">Se déconnecter</a>
        {% if user.is_admin %}
        <li class="admin-buttons">
            <h4>Administration</h4>
            <ul>
                <a href="{% url 'administration:sections' %}" class="btn-green">Sections</a>
            </ul>
            <ul>
                <a href="{% url 'administration:roles' %}" class="btn-green">Roles</a>
            </ul>
            <ul>
                <a href="{% url 'administration:sitebody_edit' %}" class="btn-green">Site</a>
            </ul>
            <ul>
                <a href="{% url 'administration:users' %}" class="btn-green">Utilisateurs</a>
            </ul>

        </li>
        {% endif %}
        {% else %}
        <a href="{% url 'users:login' %}" class="btn-green">Se connecter</a>
        <a href="{% url 'users:register' %}" class="btn-green">S'inscrire</a>
        {% endif %}
    </div>
</header>